BASE_URL=https://shopteststore.netlify.app
ADMIN_EMAIL=admin@shop.test
ADMIN_PASSWORD=Password123!
SELLER_EMAIL=seller@shop.test
SELLER_PASSWORD=Password123!
CUSTOMER_EMAIL=customer@shop.test
CUSTOMER_PASSWORD=Password123!
